---
import Button from "../../components/Button.astro"
import TextArea from "../../components/TextArea.astro"
import Input from "../../components/Input.astro"
import TopLevelPage from "../../layouts/TopLevelPage.astro"

const {
  id,
  details: { name, biography, birth_date, special_needs },
} = Astro.locals.user
---

<TopLevelPage>
  <form
    method="put"
    action={`/api/userDetails/${id}`}
    hx-boost="true"
    enctype="multipart/form-data"
    hx-target-5*="#error-message"
  >
    <Input id="nameInput" type="text" label="Namn" name="name" value={name} />

    <Input
      id="bdayInput"
      type="date"
      label="Födelsedag"
      name="birthDate"
      value={birth_date}
    />

    <TextArea
      id="needsInput"
      label="Allergier och specialbehov"
      name="specialNeeds"
      value={special_needs}
    />

    <TextArea id="bioInput" label="Om mig" name="biography" value={biography} />

    <Input
      id="picInput"
      type="file"
      label="Profilbild"
      name="profilePicture"
      accept=".jpg,.jpeg,.png,.bmp,.webp"
    />

    <Button type="submit">Save</Button>
    <div id="error-message"></div>
  </form>
</TopLevelPage>
