---
import Button from "../../components/Button.astro"
import TextArea from "../../components/TextArea.astro"
import Input from "../../components/Input.astro"
import TopLevelPage from "../../layouts/TopLevelPage.astro"

const {
  id,
  details: { name, biography, birth_date, birth_date_public, special_needs },
} = Astro.locals.user
---

<TopLevelPage>
  <form
    method="put"
    action={`/api/userDetails/${id}`}
    hx-boost="true"
    enctype="multipart/form-data"
    hx-target-5*="#error-message"
  >
    <Input id="nameInput" type="text" label="Name" name="name" value={name} />

    <Input
      id="bdayInput"
      type="date"
      label="Birth date"
      name="birthDate"
      value={birth_date}
    />

    <Input
      id="bdayPublicInput"
      type="checkbox"
      label="Public birthdate"
      name="birthDatePublic"
      checked={birth_date_public || undefined}
    />

    <TextArea
      id="needsInput"
      label="Allergies and special needs"
      name="specialNeeds"
      value={special_needs}
    />

    <TextArea
      id="bioInput"
      label="Biography"
      name="biography"
      value={biography}
    />

    <Input
      id="picInput"
      type="file"
      label="Profile picture"
      name="profilePicture"
      accept=".jpg,.jpeg,.png,.bmp,.webp"
    />

    <Button type="submit">Save</Button>
    <div id="error-message"></div>
  </form>
</TopLevelPage>
