---
import Link from "../../components/Link.astro"
import TopLevelPage from "../../layouts/TopLevelPage.astro"

const { name, biography, created_at, birth_date, special_needs } =
  Astro.locals.user.details
const publicUrl = Astro.locals.user.details.profile_picture_url

const joinDate = new Date(created_at).toLocaleDateString()
const birthDate = new Date(birth_date).toLocaleDateString()
---

<TopLevelPage>
  <div class="h-24 md:h-32 mb-4 flex items-center gap-2">
    {
      publicUrl ? (
        <img
          class="w-24 h-24 md:w-32 md:h-32 rounded-full"
          src={publicUrl}
          alt={`Avatar of ${name}`}
        />
      ) : (
        <svg
          class="w-24 h-24 md:w-32 md:h-32 rounded-full text-orange-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8ZM2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12Zm10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2 1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7Z"
            clip-rule="evenodd"
          />
        </svg>
      )
    }
    <h2
      class="flex items-center h-24 md:h-32 flex-1 p-4 border rounded bg-gray-100 text-5xl md:text-6xl font-display text-gray-800"
    >
      {name}
    </h2>
  </div>

  <p class="mb-4 text-sm text-gray-500">Medlem sedan {joinDate}</p>

  <p class="mb-4 text-sm text-gray-700">
    Födelsedag: {birthDate}
  </p>

  <p class="mb-4 text-sm text-gray-700">
    Allergier och specialbehov: {special_needs || "None"}
  </p>

  <p>{biography}</p>

  <Link
    appearance="button"
    href="/profile/edit"
    hx-boost="true"
    hx-target="#main">Redigera profil</Link
  >
</TopLevelPage>
