---
import TopLevelPage from "../layouts/TopLevelPage.astro"
import { getUpcomingEvents } from "../services/eventService"
import { errorResponse as _errorResponse } from "../utils/responseUtils"
import { escapeCharacters } from "../utils/textUtils"

const events = await getUpcomingEvents()
if (!events) {
  return _errorResponse("Could not get upcoming events")
}

const eventsWithLocation = events
  .filter(
    (event) =>
      event.location_latitude !== null && event.location_longitude !== null
  )
  .map((event) => ({
    id: event.id,
    location_latitude: event.location_latitude,
    location_longitude: event.location_longitude,
    name: escapeCharacters(event.name),
    location_name: escapeCharacters(event.location_name || ""),
    description_short: escapeCharacters(event.description_short),
  }))
---

<TopLevelPage>
  <h2 class="text-4xl text-orange-500 font-display mb-8">
    Hitta lajv nära dig
  </h2>

  <div id="map" class="rounded z-10" style="height: calc(100vh - 190px);"></div>

  <script is:inline define:vars={{ events: eventsWithLocation }}>
    var map = L.map("map", { maxZoom: 14 }).setView([62, 16], 5)

    var markers = L.markerClusterGroup({
      showCoverageOnHover: false,
      maxClusterRadius: 20,
    })
    events.forEach((event) => {
      markers.addLayer(
        L.marker([event.location_latitude, event.location_longitude]).bindPopup(
          `<h3 class='font-bold text-lg'>${event.name}</h3> <p>${event.location_name}</p> <p>${event.description_short}</p> <p><a href='/events/${event.id}'>Go to event</a></p>`
        )
      )
    })

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map)

    map.addLayer(markers)
  </script>
</TopLevelPage>
