---
import Button from "../../../../components/Button.astro"
import Checkbox from "../../../../components/Checkbox.astro"
import Input from "../../../../components/Input.astro"
import Select from "../../../../components/Select.astro"
import TextArea from "../../../../components/TextArea.astro"
import ManageEvent from "../../../../layouts/ManageEvent.astro"
import { getEvent } from "../../../../services/eventService"
import type { LARPEvent } from "../../../../types/types"
import { eventTags } from "../../../../utils/constants"

const { id } = Astro.params
const userId = Astro.locals.user.id

if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return errorResponse(error)
}

if (event.owner_id !== userId) Astro.redirect("/events")
---

<ManageEvent eventId={event.id}>
  <form
    class="flex flex-col gap-4 mb-12"
    hx-put={`/api/event/${event.id}`}
    hx-boost="true"
    enctype="multipart/form-data"
    hx-target="#error-message"
    hx-target-5*="#error-message"
  >
    <Input
      id="eventName"
      type="text"
      label="Name"
      name="name"
      required
      maxlength="100"
      value={event.name}
    />

    <Checkbox
      id="isDisplayInput"
      label="Presentational event"
      name="isDisplay"
      caption="This will disable registrations, allowing you to use the event to link to your own registration system and/or website."
      inputProps={{ checked: event.display_mode }}
    />

    <Input
      id="eventStartDateInput"
      type="date"
      label="Start date"
      name="startDate"
      required
      value={event.date_start}
    />

    <Input
      id="eventEndDateInput"
      type="date"
      label="End date"
      name="endDate"
      required
      value={event.date_end}
    />

    <Input
      id="finalSignupDateInput"
      type="date"
      label="Final signup date"
      caption="After this date registration will be disabled"
      name="finalSignupDate"
      required
      value={event.date_signup}
    />

    <Input
      id="eventLocation"
      type="text"
      label="Location"
      name="location"
      required
      value={event.location_name}
    />

    <Input
      id="eventLatitude"
      type="text"
      label="Latitude"
      name="latitude"
      required
      value={event.location_latitude}
    />

    <Input
      id="eventLongitude"
      type="text"
      label="Longitude"
      name="longitude"
      required
      value={event.location_longitude}
    />

    <TextArea
      id="eventDescriptionShort"
      label="Short description"
      name="descriptionShort"
      maxlength="200"
      value={event.description_short}
    />

    <TextArea
      id="eventDescription"
      label="Description"
      name="description"
      value={event.description}
    />

    <Input
      id="eventPicInput"
      type="file"
      label="Event picture"
      name="eventPicture"
      accept=".jpg,.jpeg,.png,.bmp,.webp"
    />

    <Select multiple id="eventTagsInput" label="Tags" name="tags">
      {
        eventTags.map((tag) => (
          <option value={tag} selected={event.tags?.includes(tag)}>
            {tag}
          </option>
        ))
      }
    </Select>

    <Checkbox
      id="eventBeginnerFriendly"
      label="Beginner friendly"
      name="beginnerFriendly"
      inputProps={{ checked: event.is_beginner_friendly }}
    />

    <Input
      id="ageRestriction"
      type="number"
      label="Lowest age allowed"
      name="ageRestriction"
      value={event.minimum_age}
    />

    <Input
      id="maximumParticipants"
      type="number"
      label="Maximum participants"
      name="maximumParticipants"
      value={event.maximum_participants}
    />

    <div class="self-end">
      <Button class="mr-4" type="reset">Clear</Button>
      <Button type="submit">Update</Button>
    </div>

    <div id="error-message"></div>
  </form>
</ManageEvent>
