---
import Card from "../../../../components/Card.astro"
import EventCard from "../../../../components/EventCard.astro"
import EventListItem from "../../../../components/EventListItem.astro"
import PublishCard from "../../../../components/PublishCard.astro"
import ManageEvent from "../../../../layouts/ManageEvent.astro"
import { getEvent } from "../../../../services/eventService"
import { getRegistrationsForEvent } from "../../../../services/registrationService"
import type { LARPEvent } from "../../../../types/types"

const { id } = Astro.params
const userId = Astro.locals.user.id
if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return errorResponse(error)
}

if (event.owner_id !== userId) Astro.redirect("/events")

const registrations = await getRegistrationsForEvent(event.id)
---

<ManageEvent eventId={event.id}>
  <div class="flex gap-4 flex-wrap">
    {
      !event.display_mode && (
        <Card title="Deltagare">
          {registrations.length} / {event.maximum_participants}
        </Card>
      )
    }

    <PublishCard eventId={event.id} published={event.is_published} />
  </div>
  <div
    class="mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <h3
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Så här blir ditt lajv i listan
    </h3>

    <EventListItem event={event} />
    <EventCard event={event} />
  </div>
</ManageEvent>
