---
import Card from "../../../../components/Card.astro"
import PublishCard from "../../../../components/PublishCard.astro"
import ManageEvent from "../../../../layouts/ManageEvent.astro"
import { getEvent } from "../../../../services/eventService"
import { getRegistrationsForEvent } from "../../../../services/registrationService"
import type { LARPEvent } from "../../../../types/types"

const { id } = Astro.params
const userId = Astro.locals.user.id
if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return errorResponse(error)
}

if (event.owner_id !== userId) Astro.redirect("/events")

const registrations = await getRegistrationsForEvent(event.id)
---

<ManageEvent eventId={event.id}>
  <div class="flex gap-4 flex-wrap">
    <Card title="Participants">
      {registrations.length} / {event.maximum_participants}
    </Card>

    <PublishCard eventId={event.id} published={event.is_published} />
  </div>
</ManageEvent>
