---
import Button from "../../../../components/Button.astro"
import EventDetailFormControl from "../../../../components/EventDetailFormControl.astro"
import Plus from "../../../../components/icons/Plus.astro"
import Input from "../../../../components/Input.astro"
import Modal from "../../../../components/Modal.astro"
import Select from "../../../../components/Select.astro"
import ManageEvent from "../../../../layouts/ManageEvent.astro"
import {
  detailsTypeEnum,
  getEvent,
  type EventDetailsType,
} from "../../../../services/eventService"
import type { LARPEvent } from "../../../../types/types"

const { id } = Astro.params
const userId = Astro.locals.user.id

if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return errorResponse(error)
}

if (event.owner_id !== userId) Astro.redirect("/events")

function getLabelFromType(type: EventDetailsType) {
  switch (type) {
    case "textShort":
      return "Kort text"
    case "textLong":
      return "Lång text"
    case "checkbox":
      return "Ja eller nej"
    case "number":
      return "Nummer"
    case "multiChoice":
      return "Lista med alternativ"
    case "multiChoiceMultiValue":
      return "Lista med alternativ, flerval"
  }
}
---

<ManageEvent eventId={event.id}>
  <div class="flex flex-col gap-4">
    <ul>
      {
        event.details.map((detail) => (
          <EventDetailFormControl detail={detail} eventId={event.id} />
        ))
      }
    </ul>

    <Button
      class="self-start"
      data-modal-target="newControlModal"
      data-modal-toggle="newControlModal"
    >
      <Plus class="inline-block w-4 fill-white mr-2" />
      Nytt fält
    </Button>
  </div>

  <Modal id="newControlModal" title="New control">
    <form
      class="p-4 md:p-5 flex flex-col gap-4"
      method="post"
      action={`/api/event/${event.id}/detail`}
      hx-boost="true"
      enctype="multipart/form-data"
      hx-target="#main"
      hx-replace-url="false"
      hx-target-500="#error-message"
      x-data="{ controlType: 'textShort' }"
    >
      <Select
        label="Typ"
        id="controlTypeInput"
        name="controlType"
        @change="controlType = $event.target.value"
      >
        {
          detailsTypeEnum.options.map((type) => (
            <option value={type}>{getLabelFromType(type)}</option>
          ))
        }
      </Select>

      <Input
        label="Namn"
        id="controlNameInput"
        name="controlName"
        type="text"
      />

      <Input
        label="Beskrivning"
        id="controlDescriptionInput"
        name="controlDescription"
        type="text"
      />
      <div x-show="controlType === 'textShort' || controlType === 'textLong'">
        <Select
          label="Autofyll med"
          id="autofillWithInput"
          name="autofillWith"
          caption="Allow users to quickly fill this field with information from their character or profile when signing up."
        >
          <option selected value="">Ingen autoyfyll</option>
          <hr />
          <option value="characterName">Karaktärsnamn</option>
          <option value="characterDescription">Karaktärsbeskrivning</option>
        </Select>
      </div>

      <Button type="submit" data-modal-toggle="newControlModal"
        >Lägg till</Button
      >

      <div id="error-message"></div>
    </form>
  </Modal>
</ManageEvent>
