---
import type { Character } from "../services/characterService"
import Button from "./Button.astro"

interface Props {
  character: Character
}

const { character } = Astro.props
---

<article
  id={`character-${character.id}`}
  class="p-6 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <header class="flex justify-between mb-4">
    <h3 class="text-3xl font-display">{character.name}</h3>
    <img src={character.image_url} alt="Character portrait" class="w-32" />
  </header>

  <p>{character.description}</p>

  <Button
    hx-delete={`/api/users/${character.user_id}/characters/${character.id}`}
    hx-target={`#character-${character.id}`}
    hx-swap="delete"
    hx-replace-url="false"
    hx-target-500={`error-${character.id}`}>Delete</Button
  >
  <div id={`error-${character.id}`}></div>
</article>
