---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"div"> {
  label: string
  id: string
  name: string
  caption?: string | undefined
  inputProps?: HTMLAttributes<"input">
}

const {
  class: className,
  label,
  id,
  name,
  inputProps,
  caption,
  ...rest
} = Astro.props

const fullClass = `flex ${className}`
---

<div class={fullClass} {...rest}>
  <div class="flex items-center h-5">
    <input
      id={id}
      aria-describedby={`${id}-caption`}
      type="checkbox"
      name={name}
      class="w-4 h-4 text-sky-600 bg-gray-100 border-gray-300 rounded focus:ring-sky-500 dark:focus:ring-sky-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      {...inputProps}
    />
  </div>
  <div class="ms-2 text-sm">
    <label for={id} class="text-sm font-medium text-gray-900 dark:text-gray-300"
      >{label}</label
    >
    {
      caption && (
        <p
          id={`${id}-caption`}
          class="text-xs font-normal text-gray-500 dark:text-gray-300"
        >
          {caption}
        </p>
      )
    }
  </div>
</div>
