---
import type { HTMLAttributes } from "astro/types"
import { eventTags, isProd } from "../utils/constants"
import Button from "./Button.astro"
import Checkbox from "./Checkbox.astro"
import Input from "./Input.astro"
import Select from "./Select.astro"
import TextArea from "./TextArea.astro"
import type { LARPEvent } from "../types/types"

interface Props {
  method: HTMLAttributes<"form">["method"]
  action: HTMLAttributes<"form">["action"]
  event?: LARPEvent
}

const { method, action, event } = Astro.props
---

<form
  class="flex flex-col gap-4 mb-12"
  method={method}
  action={action}
  hx-boost="true"
  enctype="multipart/form-data"
  hx-target-5*="#error-message"
  hx-replace-url="false"
>
  <Input
    id="eventName"
    type="text"
    label="Namn"
    name="name"
    required
    maxlength="100"
    value={event?.name}
  />

  <Checkbox
    id="isDisplayInput"
    label="Använd Lajvstarts registreringssystem"
    name="useLajvstartSystem"
    inputProps={{ checked: event?.display_mode === false }}
    hidden={!isProd}
  />

  <Input
    id="priceInput"
    type="number"
    label="Pris (SEK)"
    name="price"
    value={event?.price ?? 0}
    required
  />

  <Input
    id="eventStartDateInput"
    type="date"
    label="Startdatum"
    name="startDate"
    required
    value={event?.date_start}
  />

  <Input
    id="eventEndDateInput"
    type="date"
    label="Slutdatum"
    name="endDate"
    required
    value={event?.date_end}
  />

  <Input
    id="finalSignupDateInput"
    type="date"
    label="Sista anmälningsdag"
    name="finalSignupDate"
    required
    value={event?.date_signup}
  />

  <Input
    id="eventLocation"
    type="text"
    label="Plats"
    name="location"
    required
    value={event?.location_name}
  />

  <Input
    id="eventLatitude"
    type="text"
    label="Latitud"
    name="latitude"
    required
    value={event?.location_latitude}
  />

  <Input
    id="eventLongitude"
    type="text"
    label="Longitud"
    name="longitude"
    required
    value={event?.location_longitude}
  />

  <TextArea
    id="eventDescriptionShort"
    label="Kort beskrivning"
    name="descriptionShort"
    maxlength="200"
    value={event?.description_short}
  />

  <TextArea
    id="eventDescription"
    label="Beskrivning"
    name="description"
    value={event?.description}
  />

  <script is:inline>
    var descriptionInput = document.getElementById("eventDescription")
    var simplemde = new SimpleMDE({
      element: descriptionInput,
      spellChecker: false,
      forceSync: true,
      toolbar: [
        "bold",
        "italic",
        "|",
        "heading-1",
        "heading-2",
        "|",
        "unordered-list",
        "ordered-list",
        "link",
        "horizontal-rule",
        "|",
        "guide",
      ],
    })
  </script>

  <Input
    id="eventPicInput"
    type="file"
    label="Omslagsbild"
    name="eventPicture"
    accept=".jpg,.jpeg,.png,.bmp,.webp"
  />

  <Select multiple id="eventTagsInput" label="Taggar" name="tags">
    {
      eventTags.map((tag) => (
        <option value={tag} selected={event?.tags?.includes(tag)}>
          {tag}
        </option>
      ))
    }
  </Select>

  <Checkbox
    id="eventBeginnerFriendly"
    label="Nybörjarvänligt"
    name="beginnerFriendly"
    inputProps={{ checked: event?.is_beginner_friendly }}
  />

  <Input
    id="ageRestriction"
    type="number"
    label="Lägsta tillåtna ålder"
    name="ageRestriction"
    value={event?.minimum_age}
  />

  <Input
    id="maximumParticipants"
    type="number"
    label="Deltagargräns"
    name="maximumParticipants"
    value={event?.maximum_participants}
  />

  <div class="self-end">
    <Button variant="secondary" class="mr-4" type="reset">Rensa</Button>
    <Button type="submit">{event ? "Uppdatera" : "Skapa!"}</Button>
  </div>

  <div id="error-message"></div>
</form>
