---
import type { HTMLAttributes } from "astro/types"
import { eventTags, isProd } from "../utils/constants"
import Button from "./Button.astro"
import Checkbox from "./Checkbox.astro"
import Input from "./Input.astro"
import Select from "./Select.astro"
import TextArea from "./TextArea.astro"
import type { LARPEvent } from "../types/types"
import Trash from "./icons/Trash.astro"
import Plus from "./icons/Plus.astro"
import Spinner from "./Spinner.astro"

interface Props {
  method: HTMLAttributes<"form">["method"]
  action: HTMLAttributes<"form">["action"]
  event?: LARPEvent
}

const { method, action, event } = Astro.props
const initialPrices = !event?.prices
  ? [{ id: crypto.randomUUID(), price: 0, description: "" }]
  : event?.prices?.map((price) => ({
      id: crypto.randomUUID(),
      price: price.price,
      description: price.description,
    }))
const pricesString = JSON.stringify(initialPrices)
const isFreeString = !event?.prices ? "true" : "false"
---

<form
  class="flex flex-col gap-4 mb-12"
  method={method}
  action={action}
  hx-boost="true"
  enctype="multipart/form-data"
  hx-target="#submitButton"
  hx-target-5*="#error-message"
  hx-replace-url="false"
  hx-disabled-elt="find button[type='submit']"
>
  <Input
    id="eventName"
    type="text"
    label="Namn"
    name="name"
    required
    maxlength="75"
    value={event?.name}
  />

  <Checkbox
    id="isDisplayInput"
    label="Använd Lajvstarts registreringssystem"
    name="useLajvstartSystem"
    inputProps={{ checked: event?.display_mode === false }}
    style={{ display: isProd ? "none" : "flex" }}
  />

  <Input
    id="externalWebsiteURL"
    type="text"
    label="Hemsida"
    name="externalWebsiteURL"
    value={event?.external_website_url}
    placeholder="https://www.minlajvsida.se"
  />

  <fieldset
    class="flex flex-col flex-wrap gap-4 border rounded border-slate-400 bg-slate-100 p-4"
    x-data={`{ free: ${isFreeString}, prices: ${pricesString} }`}
  >
    <legend class="px-2">Prisnivåer</legend>

    <Checkbox
      id="isFree"
      label="Detta arrangemang är gratis"
      name="isFree"
      x-model="free"
    />

    <ul x-show="!free" class="flex flex-col gap-4">
      <template x-for="(price, index) in prices" :key="price.id"
        ><li class="flex gap-4 items-end">
          <Input
            class="flex-1 min-w-20"
            id=""
            x-bind:id="`priceValue-${index}`"
            label="Pris (SEK)"
            x-bind:name="`priceValue-${index}`"
            type="number"
            required
            min="0"
            x-bind:value="price.price"
          />
          <Input
            class="flex-[4]"
            id=""
            x-bind:id="`priceDescription-${index}`"
            label="Beskrivning"
            x-bind:name="`priceDescription-${index}`"
            x-bind:value="price.description"
          />
          <Button
            type="button"
            variant="secondary"
            size="small"
            class="self-end"
            x-on:click="prices.splice(index, 1)"
            x-bind:disabled="prices.length <= 1"
          >
            <Trash />
            <span class="sr-only">Radera prisnivå</span>
          </Button>
        </li></template
      >
    </ul>
    <Button
      class="self-start"
      type="button"
      variant="secondary"
      x-show="!free && (prices === null || prices.length < 5)"
      x-on:click="prices.push({id:window.crypto.randomUUID(), price: 0, description: ''})"
      ><Plus /></Button
    >
  </fieldset>

  <Input
    id="eventStartDateInput"
    type="date"
    label="Startdatum"
    name="startDate"
    required
    value={event?.date_start}
  />

  <Input
    id="eventEndDateInput"
    type="date"
    label="Slutdatum"
    name="endDate"
    required
    value={event?.date_end}
  />

  <Input
    id="finalSignupDateInput"
    type="date"
    label="Sista anmälningsdag"
    name="finalSignupDate"
    value={event?.date_signup}
  />
  <fieldset
    class="flex flex-wrap gap-4 border rounded border-slate-400 bg-slate-100 p-4"
  >
    <legend class="px-2">Plats</legend>

    <Input
      id="eventLocation"
      type="text"
      label="Ortsnamn"
      name="location"
      required
      value={event?.location_name}
      class="flex-1 min-w-[300px]"
    />
    <div class="flex-1 flex flex-col gap-4">
      <div id="map" class="aspect-video rounded min-w-[400px] cursor-pointer">
      </div>

      <script
        is:inline
        define:vars={{
          eventLat: event?.location_latitude,
          eventLng: event?.location_longitude,
        }}
      >
        let marker

        var map = L.map("map").setView([61, 14], 6)

        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
          maxZoom: 19,
          attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map)

        if (eventLat && eventLng) {
          marker = L.marker([eventLat, eventLng]).addTo(map)
        }

        map.on("click", (event) => {
          const latInput = document.querySelector("#eventLatitude")
          const lngInput = document.querySelector("#eventLongitude")
          latInput.value = event.latlng.lat
          lngInput.value = event.latlng.lng

          if (!marker) {
            marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map)
          } else {
            marker.setLatLng([event.latlng.lat, event.latlng.lng])
          }
        })
      </script>

      <div class="flex gap-4">
        <Input
          id="eventLatitude"
          type="text"
          label="Latitud"
          name="latitude"
          value={event?.location_latitude}
          size="small"
          required
          readonly
        />

        <Input
          id="eventLongitude"
          type="text"
          label="Longitud"
          name="longitude"
          value={event?.location_longitude}
          size="small"
          required
          readonly
        />
      </div>
    </div>
  </fieldset>

  <TextArea
    id="eventDescriptionShort"
    label="Kort beskrivning"
    name="descriptionShort"
    maxlength="200"
    value={event?.description_short}
  />

  <TextArea
    id="eventDescription"
    label="Beskrivning"
    name="description"
    value={event?.description}
  />

  <script is:inline>
    var descriptionInput = document.getElementById("eventDescription")
    var simplemde = new SimpleMDE({
      element: descriptionInput,
      spellChecker: false,
      forceSync: true,
      status: false,
      toolbar: [
        "bold",
        "italic",
        "|",
        "heading-1",
        "heading-2",
        "|",
        "unordered-list",
        "ordered-list",
        "link",
        "horizontal-rule",
        "|",
        "guide",
      ],
    })
  </script>

  <Input
    id="eventPicInput"
    type="file"
    label="Bild för listan"
    caption="Bör vara relativt kvadratisk"
    name="eventPicture"
    accept=".jpg,.jpeg,.png,.bmp,.webp"
  />

  <Input
    id="eventBannerInput"
    type="file"
    label="Bild för arrangemangssidan"
    caption="Bör vara ca 4 gånger så bred som den är hög"
    name="eventBanner"
    accept=".jpg,.jpeg,.png,.bmp,.webp"
  />

  <Select
    multiple
    id="eventTagsInput"
    label="Taggar"
    name="tags"
    required
    caption="Håll inne cmd/ctrl för att välja fler taggar"
  >
    {
      eventTags.map((tag) => (
        <option value={tag} selected={event?.tags?.includes(tag)}>
          {tag}
        </option>
      ))
    }
  </Select>

  <fieldset
    class="flex flex-wrap gap-4 border rounded border-slate-400 bg-slate-100 p-4"
  >
    <legend class="px-2">Begränsningar</legend>

    <Input
      id="ageRestriction"
      type="number"
      label="Lägsta tillåtna ålder"
      name="ageRestriction"
      value={event?.minimum_age}
      class="flex-1 min-w-[300px]"
    />

    <Input
      id="maximumParticipants"
      type="number"
      label="Deltagargräns"
      name="maximumParticipants"
      value={event?.maximum_participants}
      class="flex-1 min-w-[300px]"
    />
  </fieldset>

  <div class="self-end">
    <Button variant="secondary" class="mr-4" type="reset">Rensa</Button>
    <Button type="submit" id="submitButton"
      >{event ? "Uppdatera" : "Skapa!"}
      <Spinner size="small" class="inline-block htmx-indicator" /></Button
    >
  </div>

  <div id="error-message"></div>
</form>
