---
import type { HTMLAttributes } from "astro/types"
import type { LARPEvent } from "../types/types"
import { getRegistrationsForEvent } from "../services/registrationService"
import { getEventDateString } from "../utils/dateUtils"

interface Props extends HTMLAttributes<"article"> {
  event: LARPEvent
}

const { class: className, event, ...rest } = Astro.props

const eventImage =
  event.event_image_url ||
  `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/system-files/placeholders/event-placeholder.jpg`

const registrations = await getRegistrationsForEvent(event.id)
const spotsRemaining =
  event.maximum_participants === null
    ? null
    : event.maximum_participants - registrations.length
---

<article
  class={"hidden md:block group relative bg-white hover:bg-gray-50 border border-gray-200 rounded-lg shadow-lg  dark:bg-gray-800 dark:border-gray-700" +
    className}
  {...rest}
>
  <a
    href={`/events/${event.id}`}
    hx-boost="true"
    hx-target="#main"
    class="flex"
  >
    <div class="rounded-l-lg w-32 relative overflow-hidden flex-shrink-0">
      <img
        class="rounded-l-lg object-cover h-full w-full group-hover:scale-105 transition-all aspect-[4/3]"
        src={eventImage}
        alt={`Event image for ${event.name}`}
      />
    </div>

    <div
      class="grid grid-cols-[1fr_auto] grid-rows-[repeat(3,auto)] p-2 w-full"
    >
      <h5 class="text-2xl text-black font-display">
        {event.name}
      </h5>
      <div class="row-span-2 flex flex-col items-end">
        <span class="text-sm text-gray-600 small-caps"
          >{event.location_name}</span
        >

        <time datetime={event.date_start}
          >{
            getEventDateString(
              new Date(event.date_start),
              new Date(event.date_end)
            )
          }</time
        >
      </div>

      <p class="font-normal text-gray-700 dark:text-gray-400">
        {event.description_short}
      </p>

      <ul class="flex gap-2 mt-2">
        <span
          class="bg-purple-100 text-purple-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300 flex items-center"
        >
          {event.minimum_age ? `${event.minimum_age}+` : "Alla åldrar"}
        </span>
        {
          (event.tags || []).map((tag) => (
            <li class="bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 capitalize whitespace-nowrap items-center flex">
              {tag}
            </li>
          ))
        }
      </ul>

      <span class="font-bold text-green-700 justify-self-end content-center">
        {
          spotsRemaining === null
            ? "Ingen deltagargräns"
            : `${spotsRemaining} platser`
        }
      </span>
    </div>
  </a>
</article>
