---
import type { HTMLAttributes } from "astro/types"
import type { LARPEvent } from "../types/types"
import { getRegistrationsForEvent } from "../services/registrationService"
import { getEventDateString } from "../utils/eventUtils"

interface Props extends HTMLAttributes<"article"> {
  event: LARPEvent
}

const { class: className, event, ...rest } = Astro.props

const eventImage =
  event.event_image_url ||
  `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/system-files/placeholders/event-placeholder.jpg`

const registrations = await getRegistrationsForEvent(event.id)
const spotsRemaining = event.maximum_participants - registrations.length
const fewSpotsRemaining =
  registrations.length / event.maximum_participants > 0.8
---

<article
  class={"group relative h-full bg-white hover:bg-gray-50 border border-gray-200 rounded-lg shadow-lg  dark:bg-gray-800 dark:border-gray-700 flex flex-col " +
    className}
  {...rest}
>
  <a href={`/events/${event.id}`} hx-boost="true" hx-target="#main">
    <div class="rounded-t-lg h-64 w-full relative overflow-hidden">
      <img
        class="rounded-t-lg object-cover h-full w-full group-hover:scale-105 transition-all"
        src={eventImage}
        alt={`Event image for ${event.name}`}
      />

      {
        event.price === 0 && (
          <p class="absolute -right-6 bottom-4 -rotate-45 shadow bg-orange-600 text-white text-sm text-center w-[100px] small-caps pb-1">
            Gratis
          </p>
        )
      }
    </div>

    <div class="absolute top-2 left-2 bg-gray-950/25 px-2 py-1 rounded">
      <h3 class="text-3xl text-white font-display drop-shadow-hard">
        {event.name}
      </h3>

      <time datetime={event.date_start} class="text-l text-white"
        >{
          getEventDateString(
            new Date(event.date_start),
            new Date(event.date_end)
          )
        }</time
      >
    </div>

    <div class="p-5 flex flex-col gap-2 grow">
      <div class="flex justify-between">
        <span
          class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300 self-start"
        >
          {event.minimum_age ? `${event.minimum_age}+` : "Alla åldrar"}
        </span>

        <span class="text-sm text-gray-600 small-caps"
          >{event.location_name}</span
        >
      </div>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        {event.description_short}
      </p>

      <ul>
        {
          (event.tags || []).map((tag) => (
            <li class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 capitalize self-start inline-block">
              {tag}
            </li>
          ))
        }
      </ul>

      {
        !event.display_mode && spotsRemaining < 1 && (
          <span class="font-bold text-red-900 text-right">Slutsålt</span>
        )
      }
      {
        !event.display_mode && spotsRemaining > 0 && fewSpotsRemaining && (
          <span class="font-bold text-yellow-600 text-right">
            {spotsRemaining} platser kvar
          </span>
        )
      }
      {
        !event.display_mode && spotsRemaining > 0 && (
          <span class="font-bold text-green-700 text-right">
            {spotsRemaining} platser kvar
          </span>
        )
      }
      {
        event.display_mode && (
          <span class="font-bold text-green-700 text-right">
            {spotsRemaining} platser
          </span>
        )
      }
    </div>
  </a>
</article>
