---
import type { HTMLAttributes } from "astro/types"
import type { LARPEvent } from "../types/types"
import ArrowRight from "./icons/ArrowRight.astro"

interface Props extends HTMLAttributes<"article"> {
  event: LARPEvent
}

const { class: className, event, ...rest } = Astro.props

const eventImage =
  event.event_image_url ||
  `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/system-files/placeholders/event-placeholder.jpg`
---

<article
  class={"relative h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col " +
    className}
  {...rest}
>
  <img
    class="rounded-t-lg h-64 w-full object-cover"
    src={eventImage}
    alt={`Event image for ${event.name}`}
  />
  <h3
    class="absolute text-3xl text-white font-display top-4 left-4 drop-shadow-hard"
  >
    {event.name}
  </h3>

  <div class="p-5 flex flex-col gap-2 grow">
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {event.description_short}
    </p>

    <div class="flex justify-between grow">
      <div class="flex flex-col gap-2">
        {
          (event.tags || []).map((tag) => (
            <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 capitalize self-start">
              {tag}
            </span>
          ))
        }

        {
          event.minimum_age && (
            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300 self-start">
              {event.minimum_age}+
            </span>
          )
        }
      </div>

      <a
        href={`/events/${event.id}`}
        hx-boost="true"
        hx-target="#main"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-cyan-600 rounded-lg hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800 self-end mt-auto"
      >
        Learn more
        <ArrowRight />
      </a>
    </div>
  </div>
</article>
