---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"input"> {
  label: string
  id: string
  caption?: string | undefined
  size?: "regular" | "small"
}

const {
  class: className,
  label,
  id,
  caption,
  size = "regular",
  ...rest
} = Astro.props
---

<div class={`w-full ${className}`}>
  <label
    for={id}
    class:list={[
      "block",
      "mb-2",
      "text-sm",
      "font-medium",
      "text-gray-900",
      "dark:text-white",
    ]}>{label}</label
  >
  <input
    id={id}
    class:list={[
      "bg-gray-50 border",
      "border-gray-300",
      "text-gray-900",
      ,
      "rounded-lg",
      "focus:ring-blue-500",
      "focus:border-blue-500",
      "block",
      "w-full",
      "dark:bg-gray-700",
      "dark:border-gray-600",
      "dark:placeholder-gray-400",
      "dark:text-white",
      "dark:focus:ring-blue-500",
      "dark:focus:border-blue-500",
      { "p-2.5 text-sm": size === "regular" },
      { "p-2 text-xs": size === "small" },
    ]}
    aria-describedby={`${id}-caption`}
    {...rest}
  />
  {
    caption && (
      <p
        id={`${id}-caption`}
        class="mt-2 text-sm text-gray-500 dark:text-gray-400"
      >
        {caption}
      </p>
    )
  }
</div>
