---
import type { EventID } from "../../services/eventService"
import type { Registration } from "../../services/registrationService"
import { getDetailValue } from "../../utils/registrationUtils"
import Button from "../Button.astro"
import TD from "../table/TD.astro"
import TR from "../table/TR.astro"

interface Props {
  registration: Registration
  eventId: EventID
}

const {
  registration: {
    id,
    user_details,
    event_group,
    is_paid,
    is_approved,
    details,
    user_id,
  },
  eventId,
} = Astro.props
---

<TR
  id={`row-${id}`}
  status={is_paid && is_approved
    ? "green"
    : is_paid || is_approved
      ? "yellow"
      : "none"}
>
  <TD>{user_details.name}</TD>
  <TD>{event_group?.name}</TD>
  <TD>{is_paid ? "Yes" : "No"}</TD>
  <TD>{is_approved ? "Yes" : "No"}</TD>
  <TD>{user_details.special_needs}</TD>
  {details.map((detail) => <TD>{getDetailValue(detail)}</TD>)}
  <TD>
    <Button
      size="small"
      hx-delete={`/api/event/${eventId}/registration/${id}`}
      hx-target="#registrationsTable"
    >
      Delete
    </Button>
  </TD>
  <TD>
    <Button
      class="whitespace-nowrap"
      size="small"
      hx-patch={`/api/event/${eventId}/registration/${id}`}
      hx-vals=`{"isPaid": ${!is_paid}, "userId": "${user_id}"}`
      hx-target={`#row-${id}`}
      hx-swap="outerHTML">{is_paid ? "Mark unpaid" : "Mark paid"}</Button
    >
  </TD>
  <TD>
    <Button
      class="whitespace-nowrap"
      size="small"
      hx-patch={`/api/event/${eventId}/registration/${id}`}
      hx-vals=`{"isApproved": ${!is_approved}, "userId": "${user_id}"}`
      hx-target={`#row-${id}`}
      hx-swap="outerHTML">{is_approved ? "Unapprove" : "Approve"}</Button
    >
  </TD>
</TR>
