---
import type { EventID } from "../../services/eventService"
import type { Registration } from "../../services/registrationService"
import { getDetailValue } from "../../utils/registrationUtils"
import Button from "../Button.astro"
import TD from "../table/TD.astro"
import TR from "../table/TR.astro"

interface Props {
  registration: Registration
  eventId: EventID
}

const { registration, eventId } = Astro.props
---

<TR id={`row-${registration.id}`}>
  <TD>{registration.user_details.name}</TD>
  <TD>{registration.is_paid ? "Yes" : "No"}</TD>
  <TD>{registration.user_details.special_needs}</TD>
  {registration.details.map((detail) => <TD>{getDetailValue(detail)}</TD>)}
  <TD>
    <Button
      hx-delete={`/api/event/${eventId}/registration/${registration.id}`}
      hx-target="#registrationsTable"
    >
      Delete
    </Button>
  </TD>
  <TD>
    <Button
      hx-patch={`/api/event/${eventId}/registration/${registration.id}`}
      hx-vals=`{"isPaid": ${!registration.is_paid}, "userId": "${registration.user_id}"}`
      hx-target={`#row-${registration.id}`}
      hx-swap="outerHTML"
      >{registration.is_paid ? "Mark unpaid" : " Mark paid"}</Button
    >
  </TD>
</TR>
