---
import type { Registration } from "../../services/registrationService"
import type { LARPEvent } from "../../types/types"
import { getGroupedDetails } from "../../utils/registrationUtils"
import Button from "../Button.astro"
import TD from "../table/TD.astro"
import TR from "../table/TR.astro"

interface Props {
  registration: Registration
  event: LARPEvent
}

const {
  registration: {
    id,
    user_details,
    event_group,
    is_paid,
    is_approved,
    user_id,
    details,
  },
  event,
} = Astro.props

const groupedDetails = getGroupedDetails(details)
---

<TR
  id={`row-${id}`}
  status={is_paid && is_approved
    ? "green"
    : is_paid || is_approved
      ? "yellow"
      : "none"}
>
  <TD class="min-w-56">{user_details.name}</TD>
  <TD class="min-w-56">{event_group?.name}</TD>
  <TD>{is_paid ? "Yes" : "No"}</TD>
  <TD>{is_approved ? "Yes" : "No"}</TD>
  <TD class="min-w-56">{user_details.special_needs}</TD>
  {
    groupedDetails &&
      event.details.map((detail) => (
        <TD class="min-w-56">
          {(groupedDetails[detail.label] || [])
            .map((value) => {
              if (value === "on") return "✓"
              return value
            })
            .join(", ")}
        </TD>
      ))
  }
  <TD>
    <Button
      size="small"
      hx-delete={`/api/event/${event.id}/registration/${id}`}
      hx-target="#registrationsTable"
    >
      Delete
    </Button>
  </TD>
  <TD>
    <Button
      class="whitespace-nowrap"
      size="small"
      hx-patch={`/api/event/${event.id}/registration/${id}`}
      hx-vals=`{"isPaid": ${!is_paid}, "userId": "${user_id}"}`
      hx-target={`#row-${id}`}
      hx-swap="outerHTML">{is_paid ? "Mark unpaid" : "Mark paid"}</Button
    >
  </TD>
  <TD>
    <Button
      class="whitespace-nowrap"
      size="small"
      hx-patch={`/api/event/${event.id}/registration/${id}`}
      hx-vals=`{"isApproved": ${!is_approved}, "userId": "${user_id}"}`
      hx-target={`#row-${id}`}
      hx-swap="outerHTML">{is_approved ? "Unapprove" : "Approve"}</Button
    >
  </TD>
</TR>
