---
import TopLevelPage from "../../layouts/TopLevelPage.astro"
import EventCard from "../../components/EventCard.astro"
import { errorResponse as _errorResponse } from "../../utils/responseUtils"
import type { LARPEvent } from "../../types/types"
import {
  getUpcomingEvents,
  getFilteredEvents,
} from "../../services/eventService"
import Button from "../../components/Button.astro"
import Filter from "../../components/icons/Filter.astro"
import Select from "../../components/Select.astro"
import { eventTags } from "../../utils/constants"
import Input from "../../components/Input.astro"
import List from "../../components/icons/List.astro"
import Link from "../../components/Link.astro"
import Grid from "../../components/icons/Grid.astro"
import EventListItem from "../../components/EventListItem.astro"

let events: LARPEvent[] = []

const searchParams = Astro.url.searchParams
const tags = searchParams.getAll("tags")
const minAge = Number(searchParams.get("minAge"))

const displayParamIsList = searchParams.get("display") === "list"
const displayParamIsGrid = searchParams.get("display") === "grid"
const cookieIsList =
  Astro.cookies.has("displayMode") &&
  Astro.cookies.get("displayMode")?.value === "list"

let displayAsList: boolean

if (displayParamIsGrid || (!cookieIsList && !displayParamIsList)) {
  displayAsList = false
  Astro.cookies.set("displayMode", "grid")
} else {
  displayAsList = true
  Astro.cookies.set("displayMode", "list")
}

// If there are search params, filter events accordingly
if (Astro.url.search) {
  try {
    events = await getFilteredEvents({ tags, minAge })
  } catch (error) {
    console.error(error)
    if (error instanceof Error) {
      return _errorResponse(error.message, 500)
    }
  }
} else {
  // Default to upcoming events
  try {
    events = await getUpcomingEvents()
  } catch (error) {
    console.error(error)
    if (error instanceof Error) {
      return _errorResponse(error.message, 500)
    }
  }
}
---

<TopLevelPage>
  <div x-data="{ filtersOpen: false }">
    <div class="flex items-baseline gap-4">
      <h2 class="text-5xl text-orange-500 font-display mb-8">Kommande lajv</h2>

      <Button
        size="small"
        class="flex gap-2 ml-auto"
        x-on:click="filtersOpen = !filtersOpen"
        ><Filter class="text-white" />Filter
      </Button>

      <Link
        appearance="button"
        class="flex gap-2"
        href={displayAsList ? "/events?display=grid" : "/events?display=list"}
      >
        {
          displayAsList ? (
            <>
              <Grid class="text-white" /> Visa kort
            </>
          ) : (
            <>
              <List class="text-white" /> Visa lista
            </>
          )
        }
      </Link>
    </div>

    <form
      hx-get="/events"
      hx-target="#main"
      hx-push-url="true"
      hx-boost
      x-show="filtersOpen"
      class="bg-white rounded-lg p-4 mb-8 border grid grid-cols-2 gap-4 font-bold"
    >
      <h3 class="col-span-2">Filter</h3>

      <Select multiple label="Taggar" id="tagsFilter" name="tags">
        {
          eventTags.map((tag) => (
            <option value={tag} selected={tags.includes(tag)}>
              {tag}
            </option>
          ))
        }
      </Select>

      <Input
        label="Deltagarens ålder"
        id="minAgeFilter"
        name="minAge"
        type="number"
        value={minAge}
      />

      <div class="col-span-2 place-self-end">
        <Button hx-get="/events" hx-target="#main" hx-push-url="true"
          >Rensa</Button
        >
        <Button type="submit" class="ml-4">Filtrera</Button>
      </div>
    </form>
  </div>

  {events === null && <p>Inga kommande arrangemang</p>}

  {events.length === 0 && <p>Inga arrangemang matchar nuvarande filter</p>}

  {
    events !== null && (
      <ul
        class={
          displayAsList
            ? "flex flex-col gap-4 mb-8"
            : "grid grid-cols-events gap-8 mb-8"
        }
      >
        {events.map((event) => (
          <li>
            {displayAsList ? (
              <EventListItem event={event} />
            ) : (
              <EventCard event={event} />
            )}
          </li>
        ))}
      </ul>
    )
  }
</TopLevelPage>
