---
import TopLevelPage from "../../layouts/TopLevelPage.astro"
import { errorResponse as _errorResponse } from "../../utils/responseUtils"
import type { LARPEvent } from "../../types/types"
import {
  getUpcomingEvents,
  getFilteredEvents,
} from "../../services/eventService"
import Button from "../../components/Button.astro"
import Filter from "../../components/icons/Filter.astro"
import { eventTags } from "../../utils/constants"
import Input from "../../components/Input.astro"
import EventListItem from "../../components/EventListItem.astro"
import { groupEvents } from "../../utils/eventUtils"
import EventCard from "../../components/EventCard.astro"

let events: LARPEvent[] = []

const searchParams = Astro.url.searchParams
const tags = searchParams.getAll("tags")
const minAge = Number(searchParams.get("minAge"))

// If there are search params, filter events accordingly
if (Astro.url.search) {
  try {
    events = await getFilteredEvents({ tags, minAge })
  } catch (error) {
    console.error(error)
    if (error instanceof Error) {
      return _errorResponse(error.message, 500)
    }
  }
} else {
  // Default to upcoming events
  try {
    events = await getUpcomingEvents()
  } catch (error) {
    console.error(error)
    if (error instanceof Error) {
      return _errorResponse(error.message, 500)
    }
  }
}

const eventGroups = groupEvents(events)
---

<TopLevelPage>
  <div x-data="{ filtersOpen: false }">
    <div
      class="flex max-md:flex-wrap items-baseline justify-center md:justify-between gap-4"
    >
      <h2 class="text-5xl text-orange-500 font-display mb-8">Kommande lajv</h2>
      <div class="flex gap-2">
        <Button
          size="small"
          class="flex gap-2"
          x-on:click="filtersOpen = !filtersOpen"
          ><Filter class="text-white" />Filter
        </Button>
      </div>
    </div>

    <form
      hx-get="/events"
      hx-target="#main"
      hx-push-url="true"
      hx-boost
      x-show="filtersOpen"
      class="bg-white rounded-lg p-4 mb-8 border grid grid-cols-2 gap-4 font-bold"
    >
      <h3 class="col-span-2">Filter</h3>

      <wa-select
        label="Taggar"
        id="tagsFilter"
        name="tags"
        multiple
        with-clear
        size="small"
        class="border-none p-0"
      >
        {
          eventTags.map((tag) => (
            <wa-option
              value={tag}
              selected={tags.includes(tag) ? "selected" : undefined}
            >
              {tag}
            </wa-option>
          ))
        }
      </wa-select>

      <Input
        label="Deltagarens ålder"
        id="minAgeFilter"
        name="minAge"
        type="number"
        value={minAge}
      />

      <div class="col-span-2 place-self-end">
        <Button hx-get="/events" hx-target="#main" hx-push-url="true"
          >Rensa</Button
        >
        <Button type="submit" class="ml-4">Filtrera</Button>
      </div>
    </form>
  </div>

  {events.length === 0 && <p>Inga arrangemang matchar nuvarande filter</p>}

  {
    Object.entries(eventGroups).map(([year, months]) => (
      <section>
        <h3 class="text-3xl text-cyan-700 font-bold font-display my-4 flex items-center gap-8">
          <hr class="flex-1 border-gray-300" />
          {year}
          <hr class="flex-1 border-gray-300" />
        </h3>
        {Object.entries(months).map(([month, events]) => (
          <section>
            <h4 class="capitalize text-orange-800 small-caps tracking-wide text-xl my-4">
              {month}
            </h4>
            <ul class="flex flex-col gap-4">
              {events.map((event) => (
                <li>
                  <EventListItem event={event} />
                  <EventCard event={event} />
                </li>
              ))}
            </ul>
          </section>
        ))}
      </section>
    ))
  }
</TopLevelPage>
