---
import TopLevelPage from "../../../layouts/TopLevelPage.astro"
import type { LARPEvent } from "../../../types/types"
import { getEvent } from "../../../services/eventService"
import FavButton from "../../../components/FavButton.astro"
import {
  getFavourite,
  type Favourite,
} from "../../../services/favouritesService"
import {
  findRegistration,
  type Registration,
} from "../../../services/registrationService"
import { errorResponse as _errorResponse } from "../../../utils/responseUtils"
import type { UserID } from "../../../services/userService"
import showdown from "showdown"
import { JSDOM } from "jsdom"
import DOMPurify from "dompurify"
import { showdownTailwindExtentions } from "../../../utils/markdownUtils"

const { isSignedIn } = Astro.locals
const { id } = Astro.params

if (!id) throw new Error("Missing id url param")

let favourite: Favourite | null = null
let registration: Registration | null = null
let userId: UserID
let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return _errorResponse(error)
}

if (isSignedIn) {
  userId = Astro.locals.user.id
  favourite = await getFavourite(userId, event.id)
  registration = await findRegistration(userId, event.id)
}

const startDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "short",
}).format(new Date(event.date_start))
const endDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "short",
  year: "numeric",
}).format(new Date(event.date_end))

const window = new JSDOM("").window
const purify = DOMPurify(window)
const cleanDescription = purify.sanitize(event.description)

const converter = new showdown.Converter({
  headerLevelStart: 3,
  extensions: [...showdownTailwindExtentions],
})
const descriptionHTML = converter.makeHtml(cleanDescription)
---

<TopLevelPage>
  <div class="flex flex-col md:flex-row justify-between items-baseline mb-4">
    <h2 class="text-5xl text-orange-500 font-display">{event.name}</h2>
    <p class="text-3xl text-orange-500 font-display">
      {startDate} - {endDate}
    </p>
  </div>

  <img
    src={event.event_image_url}
    alt="Event image"
    class="w-full h-36 object-cover mb-8"
  />

  <div class="flex flex-col-reverse md:flex-row gap-8">
    <article class="flex-[2]" set:html={descriptionHTML} />

    <aside class="flex-[1]">
      <ul
        class="flex flex-col gap-4 p-4 bg-green-50 rounded border-green-300 border mb-4"
      >
        <li>Loction: {event.location_name}</li>
        <li>Last sign up date: {event.date_signup}</li>
        <li>Cost: {event.price} {event.currency}</li>
        <li>Age limit: {event.minimum_age}+</li>
        <li>
          Tags: {
            (event.tags || []).map((tag) => (
              <span class="inline-block bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 capitalize self-start">
                {tag}
              </span>
            ))
          }
        </li>
      </ul>

      {
        isSignedIn && !event.display_mode && (
          <a href={`/events/${id}/register`} hx-boost="true" hx-target="#main">
            {registration ? "Edit registration" : "Register"}
          </a>
        )
      }

      {
        isSignedIn && (
          <FavButton favouriteExists={favourite !== null} eventId={event.id} />
        )
      }
    </aside>
  </div>
</TopLevelPage>
