---
import SignedInPage from "../../../layouts/SignedInPage.astro"
import type { LARPEvent } from "../../../types/types"
import { getEvent } from "../../../services/eventService"
import FavButton from "../../../components/FavButton.astro"
import { getFavourite } from "../../../services/favouritesService"
import { getRegistration } from "../../../services/registrationService"
import { errorResponse as _errorResponse } from "../../../utils/responseUtils"

const { id } = Astro.params
const userId = Astro.locals.user.id

if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return _errorResponse(error)
}

const favourite = await getFavourite(userId, event.id)
const registration = await getRegistration(userId, event.id)
---

<SignedInPage>
  <div class="flex flex-col md:flex-row justify-between items-baseline mb-4">
    <h2 class="text-5xl text-orange-500 font-display">{event.name}</h2>
    <p class="text-3xl text-orange-500 font-display">
      {event.date_start} - {event.date_end}
    </p>
  </div>

  <img
    src={event.event_image_url}
    alt="Event image"
    class="w-full h-36 object-cover mb-8"
  />

  <div class="flex flex-col-reverse md:flex-row gap-8">
    <p class="grow-[2]">{event.description}</p>

    <aside class="grow-[1]">
      <ul
        class="flex flex-col gap-4 p-4 bg-green-50 rounded border-green-300 border mb-4"
      >
        <li>Loction: {event.location_name}</li>
        <li>Last sign up date: {event.date_signup}</li>
        <li>Age limit: {event.minimum_age}+</li>
        <li>
          Tags: {
            (event.tags || []).map((tag) => (
              <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 capitalize self-start">
                {tag}
              </span>
            ))
          }
        </li>
      </ul>

      <a href={`/events/${id}/register`} hx-boost="true" hx-target="#main"
        >{registration ? "Edit registration" : "Register"}</a
      >

      <FavButton favouriteExists={favourite !== null} eventId={event.id} />
    </aside>
  </div>
</SignedInPage>
