---
import TopLevelPage from "../../../layouts/TopLevelPage.astro"
import type { LARPEvent } from "../../../types/types"
import { getEvent } from "../../../services/eventService"
import { errorResponse as _errorResponse } from "../../../utils/responseUtils"
import Input from "../../../components/Input.astro"
import Button from "../../../components/Button.astro"
import { findRegistration } from "../../../services/registrationService"
import Select from "../../../components/Select.astro"
import { getEventGroups } from "../../../services/eventGroupsService"
import EventRegistrationControl from "../../../components/EventRegistrationControl.astro"

const { id } = Astro.params
const userId = Astro.locals.user.id

if (!id) throw new Error("Missing id url param")

let event: LARPEvent

try {
  event = await getEvent(id)
} catch (error) {
  return _errorResponse(error)
}

const registration = await findRegistration(userId, event.id)

const eventGroups = await getEventGroups(event.id)
const selectedGroupId = registration?.event_group?.id
---

<TopLevelPage
  ><h2 class="font-display text-2xl mb-4">
    {registration ? "Edit details" : "Register"} for {event.name}
  </h2>

  <form
    method={"put"}
    action={`/api/event/${event.id}/registration`}
    hx-boost="true"
    enctype="multipart/form-data"
    hx-target-5*="#error-message"
    x-data="{ groupId: 'ungrouped' }"
    class="flex flex-col gap-4"
  >
    {
      event.details.map((detail) => (
        <EventRegistrationControl detail={detail} />
      ))
    }

    <hr />

    <Select
      id="select-group"
      label="Group"
      name="groupId"
      x-on:change="groupId = $event.target.value"
    >
      <option value="ungrouped">No group</option>

      {eventGroups && eventGroups.length > 0 && <hr />}

      {
        eventGroups?.map((group) => (
          <option value={group.id} selected={group.id === selectedGroupId}>
            {group.name}
          </option>
        ))
      }

      <hr />

      <option value="new">New group</option>
    </Select>

    <div x-show="groupId === 'new'">
      <Input
        id="newGroupName"
        type="text"
        label="New group name"
        name="newGroupName"
      />

      <Input
        id="newGroupDescription"
        type="text"
        label="New group description"
        name="newGroupDescription"
      />
    </div>

    <Button type="submit" class="self-end"
      >{registration ? "Update" : "Register"}</Button
    >

    <div id="error-message"></div>
  </form>
</TopLevelPage>
